.btn-fixedsize {
    width: 67px;
}

.btn-doublesize {
    width: 140px;
}

.fullwidth {
    width: 100%;
}

.halfwidth_ct {
    width: 100%;
    text-align: center;
}
.halfwidth_ct > .halfwidth {
    width: 50%;
}