{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <h1 class="page-header text-center">Cars <i class="material-icons">directions_car</i></h1>

    <!-- Cars list -->
    <table class="table table-responsive" id="carsTable">
        <thead>
            <th>ID</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Fuel Type</th>
            <th>License Plate</th>
            <th class="text-center">
                <!-- Modal trigger -->
                <button type="button" class="btn btn-success btn-sm btn-doublesize" data-toggle="modal" data-target="#addCarModal">Add car</button>
            </th>
        </thead>
        <tbody></tbody>
    </table>

    <!-- New car modal -->
    <div class="modal fade" id="addCarModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add new car</h4>
                </div>
                <div class="modal-body">
                    <!-- New car form -->
                    <form method="post" action="{% url 'add_car' %}" id="addCarForm">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group{% if field.errors %} has-error{% endif %}">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {% render_field field class="form-control" %}
                                {% for error in field.errors %}
                                    <p class="help-block">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-info fullwidth">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit car modal -->
    <div class="modal fade" id="updateCarModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit car</h4>
                </div>
                <div class="modal-body" id='updateCarModalContent'>
                    <!-- content placeholder-->                
                </div>
            </div>
        </div>
    </div>

    <!-- Delete car modal -->
    <div class="modal fade" id="deleteCarModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Warning!</h4>
                </div>
                <div class="modal-body" id='deleteCarModalContent'>
                    Are you sure?             
                </div>
                <div class="modal-footer halfwidth_ct">
                    <button type="button" class="btn btn-danger halfwidth" id="carDeletionConfirmButton">Delete</button>
                    <button type="button" class="btn btn-default halfwidth" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Get cars on load -->
    <script>
        $(document).ready(function() {
            getCars();
        });
    </script>
{% endblock %}