{% load widget_tweaks %}
<form method="post" action="{% url 'update_car' form.instance.id %}" id="updateCarForm">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% render_field field class="form-control" %}
            {% for error in field.errors %}
                <p class="help-block">{{ error }}</p>
            {% endfor %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-info fullwidth">Add</button>
</form>